{% extends 'layout.html.twig' %}

{% block title %}Tout les articles{% endblock %}

{% block gauche %}
<div class="container-fluid">
    <div class="row">

        <div class="col-sm-12 col-lg-2 mt-3 text-center">
            <div class="card mb-3" style="width: 18rem;">
                <div class="card-header">Catégorie</div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-dark"><a href="{{ path('articles') }}"
                                                                            class="text-decoration-none">Tout les
                                articles</a></li>
                        {% for categorie in categories %}
                            <li class="list-group-item list-group-item-dark"><a
                                        href="{{ path('categorie',{'slug':categorie.slug}) }}"
                                        class="text-decoration-none">{{ categorie.nom }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endblock %}

        {% block body %}
        <div class="col-sm-12 col-lg-9 mx-auto">
            <h1 class="text-center mt-3">Tout les articles</h1>
            <div class="row">
                {% for article in articles %}
                    <div class="col-12 col-md-6 col-lg-4 mt-3">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">{{ article.titre }}</h4>
                                {% autoescape %}
                                <p class="card-text">{{ article.description|raw }}</p>
                                {% endautoescape %}
                                <div class="row">
                                    <div class="col">
                                        <a href="{{ path('article',{ 'slug':article.slug }) }}"
                                           class="btn btn-secondary btn-block">Lire</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-transparent border-secondary text-center">Publier le
                                : {{ article.date |date("d/m/Y") }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

